html
{
	scroll-behavior: smooth;
}


body
{
	background: #FFFFFF;
    font-size: .80em; 
    margin-left:2px auto;
    margin-right: 2px;
    padding: 0px;
    height: 780px;
	width: 98.2%;
	font-family: Open sans;
}

.header
{
	float: left;
	
	display: flex;
	padding: 10px;
	width:96.5%;
	height: 98px;
	
	position: fixed;
	z-index: 200;
}
.header_btn
{
	background-color: transparent;
	width: 187px;
    height: 43px;
    color: black;
   margin-left: 58px;
    margin-top: 26px;
    margin-right: 7px;
	font-size: 17px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	font-family: Open sans;
    font-size: 15px;
    font-weight: 600;
}
.header_btn:hover
{
	background-color: teal;
	color: #FEF9E7;
}

.hero_image
{
	width: 100%;
	margin-top: 0px;
	
}

.hero_arrow_btn
{
	float: left;
	position: relative;
    z-index: 101;
    margin-top: -49px;
   margin-left: 50%;
    width: 37px;
    cursor: pointer;
}

.hero_left_btn
{
	float: left;
	margin-left: 36px;
    margin-top: -259px;
    width: 40px;
	position: relative;
    z-index: 101;
    cursor: pointer;
}

.hero_right_btn
{
	float: right;
	margin-right: 36px;
    margin-top: -259px;
    width: 40px;
	position: relative;
    z-index: 101;
 
  
    cursor: pointer;
}
.heading
{
	text-align: center;
	margin-top: 41px;
	font-size: 23px;
	color: #B7950B;
}

.head_p
{
	font-size: 14px;
	margin-left: 187px;
    margin-right: 187px;
    line-height: 1.7;

}

.room_p
{
	background-color: #FEF9E7;
    color: #B7950B;
    width: 51.35%;
    float: left;
    font-size: 16px;
    height: 350px;
    margin-left: 1px;
    padding: 32px;
    text-align: justify;
    line-height: 1.7;
    font-size: 12.8px;
}
.room_img
{
	width: 44.5%;
	float: left;
}

hr
{
	color: darkslateblue;
	border-width: 2px;
	border-color: darkslateblue;
}

.room_p1
{
	background-color: #FEF9E7;
    color: #B7950B;
   width: 51.35%;
    float: left;
    font-size: 16px;
    height: 350px;
    margin-left: 0px;
    padding: 32px;
    text-align: justify;
    line-height: 1.7;
    font-size: 12.8px;
    height: 402px;
}
.room_img2
{
	width: 44.5%;
	float: left;
}

.read_btn
{
	background-color: teal;
	width: 143px;
    height: 30px;
    color: white;
	font-size: 12.8px;
	font-weight: bold;
	font-family:Open sans;
	border:none;
	cursor: pointer;
	margin-top: 11px;
	text-align: left;
	padding: 6px;
}
.read_btn:hover
{
	background-color: #B7950B;
	color: #FEF9E7;
}

.din_p
{
	background-color:#FEF9E7;
	color: #B7950B;
	width: 41%;
	float: left;
	font-size: 12.8px;
	height: 350px;
	margin-left: -59px;
    padding: 32px;
	text-align: justify;
	line-height: 1.7;
    font-size: 16px;
}
.din_img
{
	width: 50%;
	float: left;
	margin-left: 58px;
}

.offer_mar
{
	width: 100%;
	width: 200%;
}

.slideshow
{
	float: left;
	margin-left: 85px;
}
.slide_h3
{
	float: left;
}

.bg-img {
    background-image: url("images/980/Family Room1 (1).jpg") ;
    width:100%;
    max-width:100%;
    height: 200px;
    background-position:center;
    background-size:cover;
    position: fixed;
    margin:none;
}

.call_out
{
	background-image: url("images/980/Family Room1 (1).jpg");
	float: left;
	text-align: center;
	z-index: 2;
}

.footer1
{
	background-color: black;
	height: 319px;
	color: white;
	float: left;
	width: 100%;
	margin-top: -34px;
}
a
{
	text-decoration: none;
	color: rgb(183, 149, 11);
	font-size: 18px;
	padding: 8px;
	font-family: Open sans;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:1366px) {
  .header_btn {
    margin-left: 22px;* The width is 100%, when the viewport is 800px or smaller */
  }
  .room_p
  {
  	width: 50.35%;
  	height: 286px;
  }
  .room_p1
  {
  	width: 50.35%;
  	height: 330px;
  }
  .footer2
  {
  	margin-left: 34%;
  }
}